body {
    background-image: url("./media/booksonshelf.jpg");
    background-size: cover;
    background-attachment: fixed;
    /* background-position: center; */
    background-color: peru;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.card {
    background-color: rgb(155, 167, 132);
}
    
.table {
    background-color: rgb(155, 167, 132);
}

a {
    color: blue;
}