body {
    background-image: url("./media/booksonshelf.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: peru;
    
}

.card {
    background-color: rgb(155, 167, 132);
}
    
.table {
    background-color: rgb(155, 167, 132);
}

th {
    font-size: 20px;
}
a {
    color: blue;
}