body {
    background-image: url("./media/booksonshelf.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-color: peru;
    
}

.card {
    background-color: #fff;
}
    
.table {
    background-color: #fff;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

th {
    font-size: 20px;
}
a {
    color: blue;
}

.tableData{
    max-height: 200px;
}
.description {
    overflow: auto;
}